@model webapp_asp.Models.Menu
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Add Menu Page";
    var id = @Context.Session.GetString("id");
}
<style>
    div{
       font-family: 배달의민족 한나체 Pro; 
    }
</style>

@if(id != null)
{
   <div class="text-center">
    <h1 class="display-4">Online Chicken Delivery Order Menu Page </h1><br>
    <h4>해당 정보로 주문하시겠습니까? </h4> <br>
    <form asp-controller="Menu" asp-action="OrderMenu">
       <input type="hidden" asp-for="number" />
       <p>메뉴 이름:<input type="text" name="name" value="@Html.DisplayFor(model => model.name)" readonly/>  </p>
       <p><input type="hidden" name="amount" value="@Html.DisplayFor(model => model.amount)" readonly /></p>
       <p>메뉴 가격:<input type="text" name="price" value="@Html.DisplayFor(model => model.price)" readonly /> </p>
       <input type="hidden" name="sales" value="@Html.DisplayFor(model => model.sales)" />
      <input type="submit" class="btn btn-primary" value="주문하기" />
    </form><br>
    <br>
    <input type="button" class="btn btn-primary" value="뒤로가기" onclick="history.go(-1);" />
</div>
}
else 
{
    <div class="text-center">
    <h1 class="display-4">Online Chicken Delivery Oreder Site </h1><br>
    <h3>주문을 하기 전에 먼저 로그인을 해주세요. </h3><br>
    <br>
    <br>
    <p><input type="button" value="로그인" class="btn btn-primary" onclick="location.href='/Home/Index'" />
    <input type="button" value="뒤로가기" class="btn btn-primary" onclick='history.go(-1);' /></p>
</div>
}

